#message{
    #c01{
        padding: 40px 0 0;
        .lead_text{
            p{
                margin: 0;
                padding: 1.5rem 0 0;
                @include fontsize(13);
            }
            p:nth-of-type(1){
                padding: 0;
            }
        }
    }
    .side_local_nav{
        @include sln01();
    }
}