#prospectus{
    #c01{
        padding: 40px 0 0;
        .lead_text{
            padding: 1rem;
            background-color: #e6e9f0;
            p{
                margin: 0;
                padding: 1.5rem 0 0;
                @include fontsize(13);
            }
            p:nth-of-type(1){
                padding: 0;
            }
        }
        &> section{
            padding:40px 0 0;
            .summary{
                padding:20px 0 0;
                p{
                    @include fontsize(13);
                }
            }
        }
        .sign{
            padding:30px 0 0;
            @include fontsize(13);
        }
    }
    .side_local_nav{
        @include sln01();
    }
}