#timing{
    #c01{
        padding:　40px 0 0;
        .lead_text{
            h2{
                margin: 0 0 1rem;
                padding: 0 0 5px;
            }
            p{
                margin: 0;
                padding: 1.5rem 0 0;
                @include fontsize(13);
            }
            p:nth-of-type(1){
                padding: 0;
            }
            ul.num{
                margin: 0;
                padding: 1.5rem 0 0;
            }
            ul.num li{
                list-style-position: inside;
                list-style-type: decimal;
                @include fontsize(13);
                background-color: #ffd1a0;
                font-weight: bold;
                padding: .75rem 1rem;
                border-top: 1px dotted #fff;
            }
            ul.num li:nth-of-type(1){
                border-top: none;
            }
        }
    }
    .side_local_nav{
        @include sln01();
    }
}