#about_us{
    #primary{
        h1{
            margin: 0;
        }
    }
    #c01{
        padding: 40px 0 0;
        .lead_text{
            .block01{
                padding: 1rem;
                background-color: #f5f0ec;
                    .img01{
                        float: right;
                        margin-left: 2rem;
                    }
                    h2{
                        margin: 0;
                        padding: 0;
                        @include fontsize(14);
                        font-weight: bold;
                        color: #004566;
                    }
                    p{
                        margin: 0;
                        padding: 1rem 0 0;
                        @include fontsize(13);
                    }
                    em{
                        color: #ff9012;
                    }
            }
            .block02{
                    p{
                        margin: 0;
                        padding: 1rem 0 0;
                        @include fontsize(13);
                    }
            }
        }
        .local_nav{
            padding:40px 0 0;
            .item{
                height: 100%;
                padding:0 0 20px ;
            }
            a{
                height: 100%;
                color: #2C3942;
                text-decoration: none;
                display: block;
                padding:10px;
                border-top:    3px solid #ffd19f;
                border-left:   1px solid #e0e0e0;
                border-right:  1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                background: url(../images/common/ico12.png) right 10px center no-repeat;
                background-size: 9px auto;
                dl{
                    margin: 0;
                    dt{
                        @include fontsize(16);
                    }
                    dd{
                        padding:5px 0 0;
                        line-height: 1.4;
                        @include fontsize(13);
                    }
                }
            }
        }
    }



    .side_local_nav{
        @include sln01();
    }
}