#board_member{
    #c01{
        padding: 40px 0 0;
        &> section{
            .profile{
                @include fontsize(13);
                padding:20px 0 20px;
                border-bottom: 1px dotted #d1dded;
                h3{
                    @include fontsize(13);
                    span{
                        display: inline-block;
                        padding: 0;
                        font-weight: bold;
                    }
                    small{
                        display: inline-block;
                        @include fontsize(12);
                    }
                }
            }
        }
        #c01_01{
            .profile{
                border-bottom: none;
            }
        }
        #c01_02{
            padding:30px 0 0;
        }
        .sign{
            padding:30px 0 0;
            @include fontsize(13);
        }
    }
    .side_local_nav{
        @include sln01();
    }
}