#activity{
    #c01{
        &> section{
            padding: 40px 0 0;
            .summary{
                padding: 20px 0 0;
                p{
                    margin: 0;
                    padding: 1.5rem 0 0;
                    @include fontsize(13);
                }
                p:nth-of-type(1){
                    padding: 0;
                }
                .l01{
                    padding: 1rem;
                    border: 1px solid #e5e5e5;
                }
                .l01 li{
                    @include fontsize(13);
                }
            }
        }

    }

}