
//枠固定するための記述
//レスポンシブにするときはこれを外す
.container{
  max-width: none !important;
  width: 980px; //固定したい幅に設定
}

//リセット
ul{
    padding:0 ;
    margin: 0;
    li{
        list-style-type: none;
    }
}

/* **************************
   上部に戻る
************************** */
#pagetop{
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 36px;
    opacity: .9;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}

/* **************************
   Header
************************** */
#header{
    border-top: 5px solid #004167;
    padding:20px 0 0;
    &> .inner{
    }
    #ci01 {
        display: block;
        flex: none;
        width: 240px !important;
        max-width: none;
        img {
            width: 100%;
            height: auto;
        }
    }
    #hd_lang{
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-radius: 0px 0px 4px 4px;
        background: url(../images/common/hd_bg01.jpg) left center ;
        ul{
            background:url(../images/common/ico01.png) left 7px center no-repeat;
            background-size: 14px auto;
            padding:0 0 0 30px;
            margin: 0;
            @include fontsize(12);
            li{
                position: relative;
                background:#FFF;
                text-align: center;
                width: 33.333333%;
                list-style-type: none;
                float: left;
                border-left: 1px dotted #dddddd;
                a{
                    line-height: 1;
                    padding: 5px;
                    display: block;
                    color: #000;
                    &:hover{
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }
            .current{
                background:#FFF url(../images/common/hd-bg02.png) top center no-repeat;
                background-size: 9px auto;
            }
        }
    }
    #hd_link{
        ul{
            margin: 0;
            padding: 30px 0 0;
            float: right;
            li{
                list-style-type: none;
                float: left;
                padding:0 0 0 10px;
                a{
                    width: 80px;
                    &:hover{
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }
            #hd-link01 a{
                line-height: 1;
                border: 1px solid #dddddd;
                border-radius: 4px;
                padding:5px 5px 5px 15px;
                display: block;
                background: #f6f6f6 url(../images/common/ico02.png) left 5px center no-repeat;
                background-size: 5px auto;
                @include fontsize(14);
                color: #004167;

            }
            #hd-link02 a{
                line-height: 1;
                border: 1px solid #004167;
                border-radius: 4px;
                padding:5px 5px 5px 15px;
                display: block;
                background: #004167 url(../images/common/ico03.png) left 5px center no-repeat;
                background-size: 5px auto;
                @include fontsize(14);
                color: #fff;
            }
        }
    }
}

/* **************************
   gnav
************************** */
#gnav{
    background: linear-gradient(0, #f3f3f3, #fff);
    background:-ms-linear-gradient(top, #f3f3f3, #fff);
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #EEE;
    ul{
        padding:0 ;
        margin: 0;
        li{
            list-style-type: none;
            float: left;
            border-left:1px solid #eee;
            &:nth-child(1){
                width: 70px;
            }
            &:nth-child(2){
                width: 178px;
            }
            &:nth-child(3){
                width: 178px;
            }
            &:nth-child(4){
                width: 178px;
            }
            &:nth-child(5){
                width: 178px;
            }
            &:nth-child(6){
                width: 178px;
                border-right:1px solid #eee;
            }
            a{
                width: 100%;
                text-align: center;
                line-height: 1;
                padding:15px 0;
                display: block;
                color: #000;
                margin:2px 0;
                font-weight: bold;
                height:48px;
                &:hover{
                    text-decoration: none;
                    margin:2px 0;
                    background: linear-gradient(0, #006c9f, #014366);
                    background:-ms-linear-gradient(top, #006c9f, #014366);
                    border-radius: 2px ;
                    color: #FFF;
                }
            }
            .current{
                margin:2px 0;
                background: linear-gradient(0, #006c9f,#014366);
                background:-ms-linear-gradient(top, #006c9f, #014366);
                border-radius: 2px ;
                color: #FFF;
            }
        }
    }
}


/* **************************
   content_wrapper
************************** */
#content_wrapper{
    padding:20px 0 40px;
    &> .container{
        &> .row{
            &> .col-8{
                max-width: 69%  !important;
                flex: 0 0 69%  !important;
            }
            &> .col-4{
                max-width: 31% !important;
                flex: 0 0 31%  !important;
            }
        }
    }
}

/* **************************
   ワンカラム設定
************************** */
#content_wrapper.one_column{
    &> .container{
        &> .row{
            &> .col-8{
                max-width: 72%  !important;
                flex: 0 0 72%  !important;
            }
        }
    }
}


/* **************************
   パン屑
************************** */
#breadcrumb{
    padding:0 0 30px;
    ul{

        li{
            @include fontsize(10);
            float: left;
            &:not(:last-child){
                &::after{
                    display: inline-block;
                    content:'>';
                    padding:0 3px;
                    color: #D3DCED;
                }
            }
            a{
                color: #004366;
            }
        }
    }
}

/* **************************
   メイン 共通 メインタイトル
************************** */
#primary{
    .p_title01{
        @include fontsize(36);
    }
}

/* **************************
   メイン 共通 タイトルスタイル
************************** */
.tit_style01{
    margin: 0;
    padding:0 0 5px;
    position: relative;
    @include fontsize(15);
    font-weight: bold;
    border-bottom: 3px solid #d1dded;
    &::before{
        content : '';
        display: block;
        border-bottom: 3px solid #ff8d13;
        width: 120px;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
}

.tit_style02{
    @extend .tit_style01;
    .txt{
        margin: 0 0 -3px;
        padding:0 0 5px;
        @include fontsize(16);
    }
    .link{
        padding:5px 0 0;
        float: right;
        text-align: right;
        a{
            display: block;
            @include fontsize(12);
            background: url(../images/common/ico06.png) left 2px  center no-repeat;
            background-size: 5px auto;
            padding:0 0 0 10px;
            color: #FF8D13;
        }
    }
}

.tit_style03{
    @extend .tit_style01;
    margin:0 0 20px;
    border-bottom: 3px solid #d1dded;
    &::before{
        border-bottom: 3px solid #90b12f;
    }
}

.tit_style04{
    margin:0 0 20px;
    @extend .tit_style01;
    border-bottom: 3px solid #d1dded;
    &::before{
        border-bottom: 3px solid #3481d3;
    }
}

.tit_style05{
    position: relative;
    margin: 0;
    padding: 0 0 5px;
    border-bottom: 3px solid #d0dded;
    @include fontsize(17);
    font-weight: bold;
}
.tit_style05::before{
    display: block;
    content: ' ';
    overflow: hidden;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 120px;
    height: 3px;
    background-color: #ff8c13;
}

.tit_style06{
    @include fontsize(15);
    font-weight: bold;

}

/* **************************
   メイン 共通 リンクスタイル
************************** */
.link_style01{
    @include fontsize(13);
    color: #ff8d13;
    background: url(../images/common/ico06.png) left 2px  center no-repeat;
    background-size: 5px auto;
    padding:0 0 0 10px;
    &:hover{
        color: #ff8d13;
        text-decoration: underline;
    }
}
.link_style02{
    @include fontsize(13);
    color: #29363e;
    background: url(../images/common/ico08.png) left 3px  center no-repeat;
    background-size: 10px auto;
    padding:0 0 0 20px;
    &:hover{
        color: #29363e;
        text-decoration: underline;
    }
}
.link_style03{
    display: inline-block;
    @include fontsize(16);
    text-align: center;
    color: #fff;
    background: #ff8414 url(../images/common/ico03.png) right 10px center no-repeat;
    background-size: 6px auto;
    padding:10px 80px;
    border-radius: 3px;
    &:hover{
        color: #FFF;
        text-decoration: none;
        opacity: 0.8;
    }
}
.link_style04{
    @include fontsize(13);
    color: #29363e;
    background: url(../images/common/ico08.png) left 3px  center no-repeat;
    background-size: 10px auto;
    padding:0 0 0 20px;

}
.link_style05{
    @include fontsize(13);
    color: #004566;
    background: url(../images/common/ico09.png) right 3px center no-repeat;
    background-size: 12px auto;
    padding:0 20px 0 0 ;
    &:hover{
        text-decoration: underline;
    }
}
.link_style06{
    display: inline-block;
    @include fontsize(16);
    text-align: center;
    color: #fff;
    background: #ff8414 url(../images/common/ico03.png) right 10px center no-repeat;
    background-size: 6px auto;
    width: 100%;
    padding:10px 0;
    border-radius: 3px;
    &:hover{
        color: #FFF;
        text-decoration: none;
        opacity: 0.8;
    }
}
.link_style07{
    display: inline-block;
    @include fontsize(16);
    text-align: center;
    color: #fff;
    background: #818181 url(../images/common/ico11.png) left 10px center no-repeat;
    background-size: 6px auto;
    width: 100%;
    padding:10px 0;
    border-radius: 3px;
    &:hover{
        color: #FFF;
        text-decoration: none;
        opacity: 0.8;
    }
}
/* **************************
   メイン 共通 リストスタイル
************************** */
.list_style01{
    background: #f2f2f2;
    @include fontsize(13);
    dt{
        padding:25px 15px 0;
    }
    dd{
        padding:10px 30px 25px;
        border-bottom:1px dotted #CCC;
    }
}
.list_style02{
    @include fontsize(13);
    border-bottom:1px dotted #CCC;
    margin-bottom:20px;

    li{
        padding-left:1em;
        text-indent:-1em;
        padding-bottom:20px;
    }
}
.list_style03{
    padding:20px 0 0;
    @include fontsize(13);
    margin-bottom:20px;

    li{
        padding-bottom:15px;
        margin-bottom:15px;
        border-bottom:1px dotted #CCC;
        a {
            text-decoration: none;
            display: block;
            color: #000;
            &:hover{
                .link_style05{
                    text-decoration: underline;
                }
            }
        }

    }
}
.list_style04{
    @include fontsize(13);
    li{
        background: url(../images/common/ico10.png) left center no-repeat;
        background-size: 3px auto;
        padding:0 0 0 10px;
    }
}
/* **************************
   メイン 共通 レポートリストスタイル
************************** */
.report_style01{
    width: 100%;
    tr{
        border-bottom: 1px dotted #e1e1e1;
        td{
            padding:5px;
            vertical-align: middle;
            &:nth-child(1){
                text-align: center;
                position:relative;
                @include fontsize(8);
                span{
                    display: inline-block;
                    width: 50px;
                    color: #FFF;
                    padding:0 5px;
                }
                .info{
                    background:#5da79a;
                }
                .report{
                    background:#ea6a79;
                }
                .press{
                    background:#fb9806;
                }
            }
            &:nth-child(2){
                color: #686868;
                @include fontsize(12);
            }
            &:nth-child(3){
                color: #000;
                @include fontsize(13);
                a{
                    color: #000;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.report_style02{
    @extend .report_style01;
    tr{
        td{
            padding:20px 5px;
        }
    }
}
.report_style03{
    @extend .report_style01;
    width: 100%;
    tr{
        border-bottom: none;
        td{
            &:nth-child(1){
                width: 50px;
                text-align: center;
                position:relative;
                @include fontsize(8);
                span{
                    display: inline-block;
                    // width: 40px;
                    color: #FFF;
                    padding:0 5px;
                }
                .info{
                    background:#5da79a;
                }
                .report{
                    background:#ea6a79;
                }
                .press{
                    background:#fb9806;
                }
            }
        }
   }
}
/* **************************
   メイン 共通 テーブルスタイル
************************** */
.table_style01{
    width: 100%;
    @include fontsize(13);
    border: 1px solid #e0e0e0;
    tr{
        th{
            background: #F8F8F8;
            width: 23%;
            font-weight: normal;
            padding:10px;
            border-bottom: 1px solid #e0e0e0;
        }
        td{
            padding:10px;
            border-bottom: 1px solid #e0e0e0;
            &:nth-child(1){
                font-weight: bold;
            }
        }
    }
}
.table_style02{
    width: 100%;
    @include fontsize(13);
    border: 1px solid #e0e0e0;
    thead{
        tr{
            th{
                text-align: center;
                background: #F8F8F8;
                font-weight: normal;
                padding: 10px 5px;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                &:nth-child(1){
                    width: 80px;
                }
                &:nth-child(3){
                    width: 120px;
                }
                &:nth-child(4){
                    width: 100px;
                }
                &:nth-child(5){
                    width: 250px;
                }
            }
        }
    }
    tbody{
        td{
            vertical-align: top;
            padding:10px;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            &:nth-child(1){
                text-align: center;
            }
        }
    }
}
.table_style02.t01_01{
    width: 100%;
    @include fontsize(13);
    border: 1px solid #e0e0e0;
    thead{
        tr{
            th{
                text-align: center;
                background: #3481d3;
                color: #fff;
                font-weight: normal;
                padding: 10px 5px;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                &:nth-child(1){
                    width: 80px;
                }
                &:nth-child(3){
                    width: 120px;
                }
                &:nth-child(4){
                    width: 100px;
                }
                &:nth-child(5){
                    width: 250px;
                }
            }
        }
    }
    tbody{
        td{
            vertical-align: top;
            padding:10px;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            &:nth-child(1){
                text-align: center;
            }
        }
    }
}
.table_style02.t01_02{
    width: 100%;
    @include fontsize(13);
    border: 1px solid #e0e0e0;
    thead{
        tr{
            th{
                text-align: center;
                background: #90b12f;
                color: #fff;
                font-weight: normal;
                padding: 10px 5px;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                &:nth-child(1){
                    width: 80px;
                }
                &:nth-child(3){
                    width: 120px;
                }
                &:nth-child(4){
                    width: 100px;
                }
                &:nth-child(5){
                    width: 250px;
                }
            }
        }
    }
    tbody{
        td{
            vertical-align: top;
            padding:10px;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            background-color: #f2f2f2;
            &:nth-child(1){
                text-align: center;
            }
        }
    }
}

/* **************************
   メイン 共通 pagination
************************** */
.pagination{
    padding:60px 0 0 ;
    .wp-pagenavi{
        span{
            text-align: center;
            display: inline-block;
            min-width: 32px;
            min-height: 32px;
        }
        a{
            text-align: center;
            display: inline-block;
            min-width: 32px;
            min-height: 32px;
            color: #000;
            &:hover{
                background: #EEE;
            }
        }
        .current{
            border: 1px solid #CCC;
            background: #EEE;
        }
    }
}

.no_seminar{
    @include fontsize(13);
}
/* **************************
   サイドバー 共通
************************** */
.secondly{
    .bnr_area{
        ul{
            li{
                padding: 0 0 10px 0;
                a{
                    &:hover{
                        opacity: 0.8;
                    }
                    img{
                        display: block;
                        width: 284px;
                        height: auto;
                    }
                }
            }
        }
    }
    #pickup_book{
        padding:0 0 10px;
        h2{
            @include fontsize(13);
            color: #FFF;
            background: #FF8D13;
            padding:5px 10px;
            font-weight: bold;
            margin: 0;
            border-radius: 3px 3px 0 0 ;

        }
        &> .inner{
            padding:10px;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-radius: 0 0 3px 3px;
            h3{
               @include fontsize(13);
            }
            img{
               width: 100%;
               height: auto;
            }
            p{
               @include fontsize(12);
               margin: 0;
            }
            a{
                color: #ff8d13;
                @include fontsize(10);
                background: url(../images/common/ico06.png) left 2px  center no-repeat;
                background-size: 5px auto;
                padding:0 0 0 10px;
            }
        }
    }
}

/* **************************
   footer
************************** */
#footer{
    background: #002437 url(../images/common/ft_bg01.png) left top ;
    &> .inner{
        width: 980px;
        margin: 0 auto;
        background: url(../images/common/ft_bg02.png)  top center no-repeat;
    }
    &> small{
        padding:10px 0;
        color: #FFF;
        display: block;
        background: #002437;
        text-align: center;
    }
    #ft_logo{
        padding:30px 0 0;
    }
    #ft_link{
        &> ul{
            margin: 0;
            padding: 20px 0 20px 40px;
            float: left;
            &> li{
                list-style: none;
                background: url(../images/common/ico04.png)  top 8px left no-repeat;
                background-size: 3px auto;
                padding-left:10px;
                a{
                    @include fontsize(12);
                    color: #FFF;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                ul{
                    margin: 0;
                    padding: 0px 0 0 0px;
                    li{
                        list-style: none;
                        background: url(../images/common/ico05.png)  top 15px left no-repeat;
                        background-size: 9px auto;
                        padding-left:15px;
                        a{
                            @include fontsize(10);
                        }
                    }
                }
            }
        }
    }
}

