#book{
    #c01{
        &> section{
            padding:60px 0 0;
            &> .inner{
                border-top: 3px solid #d1dded;
                border-left: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                padding:20px;
                h2{
                    font-weight: bold;
                    @include fontsize(20);
                }
                h3{
                    font-weight: bold;
                    @include fontsize(13);
                }
                .summary{
                    padding:20px 0 0;
                    p{
                        @include fontsize(13);
                    }
                }
                table{
                    border-top: 1px solid #e1e1e1;
                    width: 100%;
                    @include fontsize(13);
                    th{
                        box-sizing: border-box;
                        min-width: 100px;
                        padding: 5px 10px;
                        background: #f8f8f8;
                        border-bottom: 1px solid #e1e1e1;
                    }
                    td{
                        box-sizing: border-box;
                        padding:5px 10px;
                        border-bottom: 1px solid #e1e1e1;
                    }
                }
                .buy{
                    padding:30px 0 0;
                    text-align: center;
                }

            }

        }

    }

}