#contact{
    .link_style06:hover,
    .link_style07:hover{
        cursor: pointer;
    }
    #c01{
        padding:60px 0 0;
        .lead_text{
            p{
                @include fontsize(13);
                padding:0 0 30px;
            }
        }
        .form_wrap{
            .att01{
                @include fontsize(10);
                color: #F00;
            }
            .input_wrap{
                input{
                    padding:3px 5px;
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
            }
            .assist{
                color: #999;
                @include fontsize(11);
            }
            table{
                @include fontsize(13);
                width: 100%;
                tr{
                    th{
                        z-index: -1;
                        position: relative;
                        font-weight: normal;
                        vertical-align: top;
                        width: 230px;
                        padding:20px 20px 20px 70px;
                        background: #F8F8F8;
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;
                        border-left: 1px solid #cccccc;
                        &.req{
                            &::before{
                                position: absolute;
                                content:'【必須】';
                                color: #F00;
                                left:20px;
                            }
                        }
                    }
                    td{
                        vertical-align: top;
                        padding:20px;
                        border-top: 1px solid #cccccc;
                        border-right: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;

                    }
                }
            }
            &.confirm{
                table{
                    tr{
                        th{
                            text-align: center;
                            vertical-align: middle;
                            padding: 20px;
                        }
                    }
                }
            }
        }
        #c01_01{
            padding:20px 0 0;
            .privacy{
                height: 220px;
                overflow: auto;
                border: 3px solid #cccccc;
                background: #F2F2F2;
                padding:25px;
                .privacy_tit{
                    font-weight: bold;
                    @include fontsize(20);
                    padding:0 0 10px;

                }
                .summary{
                    padding:10px 0;
                    p{
                        @include fontsize(12);
                    }
                }
            }
        }
        #c01_02{
            text-align: center;
            padding: 20px 0 0;
            margin:0 0 0;
            p{
                @include fontsize(11);
            }
        }
    }
}