@mixin fontsize($size,$base : 16) {
    font-size: ($size / $base) * 1rem;
}

@mixin sln01(){
    padding: 0 0 0 40px;
    h2{
        font-weight: bold;
        color: #004366;
        @include fontsize(16);
    }
    ul{
        padding:10px 0 0 ;
        li{
            a{
                position: relative;
                display: block;
                line-height: 1;
                padding: 10px 10px 10px 28px;
                color: #004366;
                @include fontsize(13);
                &::before{
                    display: block;
                    content : ' ';
                    position: absolute;
                    top: 16px;
                    left: 10px;
                    width: 12px;
                    height: 1px;
                    background-color: #D3DCED;
                }
                &:hover{
                    text-decoration: none;
                    background: #004566;
                    color: #fff;
                }
            }
        }
        .current{
            a{
                text-decoration: none;
                background: #004566;
                color: #fff;
            }
        }
    }
}