#home{
    #mv{
        background: #FFF url(../images/home/mv_bg01.jpg) left top repeat-x ;
        .item{
            background: url(../images/home/mv01.jpg) center top no-repeat;
            &> .inner{
                position: relative;
                width: 100%;
                height: 350px;
                background: url(../images/home/mv_cover01.png) center bottom no-repeat;
                h2{
                    padding:100px 0 0 40px;
                }
                a{
                    padding:10px 0 0 40px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .activity{

    }
    .study{
        padding:40px 0 ;
        .west,
        .east{
            h3{
                margin:10px 0 0;
                line-height: 1;
                padding:5px 0;
                color: #FFF;
                text-align: center;
                @include fontsize(12);
            }
            ul{
                li{
                    border-bottom: 1px dotted #e0e0e0;
                    padding:15px 0;
                    a{
                        display: block;
                        color: #000;
                        &:hover{
                            opacity: 0.8;
                        }
                        span{
                            display: block;
                            @include fontsize(13);

                        }
                    }
                }
            }
        }
        .west h3{
            background: #90b12f;
        }
        .east h3{
            background: #3481d3;
        }
    }
/* **************************
   メイン 共通 レポートリストスタイル
************************** */
    .report_style01{
        tr{
            td{
                padding: 10px 5px 15px;
                &:nth-child(3){
                    a{
                        &:link,
                        &:visited{
                            text-decoration: underline;
                        }
                        &:hover{
                            text-decoration: underline;
                            opacity: .65;
                        }
                        &:active{
                            text-decoration: underline;
                        }
                    }
                    ul.ico11{
                        padding: 5px 0 0;
                        li{
                            position: relative;
                            padding: 10px 0 0 62px;
                            .btn01{
                                display: block;
                                position: absolute;
                                top: 9px;
                                left: 0;
                                width: 56px;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}