#link{
    #c01{
        &> section{
            padding:60px 0 0;
            .summary{
                padding:20px 0 0;
                p{
                    @include fontsize(13);
                }
            }
        }

    }

}