#notfound{
    main .block01{
        border: 1px solid #eee;
        margin: 0 auto 3rem;
        padding: 2rem;
    }
    main .block01 h1{
        font-size: 1.5rem;
        text-align: center;
    }
    main .block01 p{
        font-size: 1rem;
        padding: 1rem 0 0;
    }
    #c01{
        padding:40px 0 0;
        ul{
            li{
                padding:15px 0;
                border-bottom: 1px solid #e1e1e1;
                a{
                    display: block;
                    @include fontsize(14);
                }
                .childlink{
                    a{
                        margin: 0 0 15px;
                        &:last-child(){
                            margin: 0 ;
                        }
                    }
                }
            }
        }
    }
}