// Custom.scss
// 初期値上書き＆テーマ追加
$input-placeholder-color : #bbbbbb;
$form-group-margin-bottom : 3.75rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 880px,
  xl: 980px
);
$grid-gutter-width: 20px;
$theme-colors: (
    "danger": #F00,
    "cus_color01": #CCC,
    "cus_color03": #BBB,
    "cus_color02": #f5f5f5
);
