#privacy{
    #c01{
        padding: 40px 0 0;
        .lead_text{
            p{
                @include fontsize(14);
            }
        }
        &> section{
            padding:40px 0 0;
            .summary{
                padding:20px 0 0;
                p{
                    @include fontsize(14);
                }
            }
        }

    }

}