.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}

#report_archive{
    #c01{
        padding:60px 0 0;
    }
    .side_local_nav{
        @include sln01();
    }
}

/* ===================================
#report
=================================== */
#report{
    .report_style02 a:link,
    .report_style02 a:visited{
        text-decoration: underline;
    }
    .report_style02 a:hover{
        text-decoration: underline;
        opacity: .65;
    }
    .report_style02 a:active{
        text-decoration: underline;
    }
}