.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}


#report_single{
    main > h1{
        font-size: 1.75rem;
    }
    #c01{
        padding:40px 0 0;
        .content{
            padding:30px 0 30px;
            @include fontsize(13);
            border-bottom: 1px dotted #e1e1e1;
        }
        .attachments{
            padding:20px 0 0;
            h5{
                padding: 0 0 0 .5rem;
                border-left: 3px solid #ff8f20;
                font-weight: bold;
                line-height: 1;
            }
            ul{
                padding: 0 0 5px;
                li{
                    padding: 10px 0 10px 38px;
                    background: url('../images/common/ico13.png') center left no-repeat;
                    background-size: 29px 37px;
                    line-height: 1.25;
                }
            }
        }
    }
    .side_local_nav{
        @include sln01();
    }
    .side_report_pdf_btn {
        padding: 20px 0 0 40px;
        a {
            display: block;
            img {
                display: block;
                width: 244px;
                height: 53px;
            }
        }
        a:hover {
            opacity: .75;
        }
    }
}