.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}


#report{
    #c01{
        padding:60px 0 0;
    }
    .side_local_nav{
        @include sln01();
    }
    .side_report_pdf_btn {
        padding: 20px 0 0 40px;
        a {
            display: block;
            img {
                display: block;
                width: 244px;
                height: 53px;
            }
        }
        a:hover {
            opacity: .75;
        }
    }
    ul.ico11{
        padding: 5px 0 0;
        li{
            position: relative;
            padding: 10px 0 0 62px;
            .btn01{
                display: block;
                position: absolute;
                top: 9px;
                left: 0;
                width: 56px;
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}