#seminar_archive{
    .cat_tit{
        font-weight: bold;
        @include fontsize(18);
    }
    #c01{
        // padding:60px 0 0;
        &>section{
            // padding:0 0 60px;
        }

        .btn01{
            a{
                 @include fontsize(13);
                text-decoration: none;
                color: #000;
                text-align: center;
                display: block;
                max-width: 180px;
                width: 100%;
                margin: 0 auto;
                border: 1px solid #000;
                padding: 10px;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .btn02{
            a{
                 @include fontsize(13);
                text-decoration: none;
                color: #000;
                text-align: center;
                display: block;
                max-width: 180px;
                width: 100%;
                margin: 0 auto;
                border: 1px solid #000;
                padding: 10px;
                background: url('../images/common/ico14.png') 97% center no-repeat;
                background-size: 16px 19px;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .side_local_nav{
        @include sln01();
    }
}